<li><%= link_to "ユーザー一覧", admins_users_path %></li>
<li><%= link_to "ゲーム一覧", admins_games_path %></li>
<li><%= link_to "お問い合わせ一覧" %></li>
<li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
