<table class="table">
	<thead>
		<tr class="table-primary">
			<th>ユーザー名</th>
			<th>チャット内容</th>
			<th></th>
		</tr>
	</thead>

	<tbody id="infiniteScrollingContainer" data-page="2">
		<%= render 'dm_index', rooms: @rooms %>
	</tbody>
</table>

<div class="loader-container d-none">
    <div class="loader"></div>
</div>


<script>
	$(function() {
		//ajaxStopperがないと勢いよくスクロールすると同じ値が２回読み込まれる。
		var ajaxStopper = false;
		$(window).on("scroll", function() {
			//ページ全体の高さ
			var scrollHeight = $(document).height();
			//現在のスクロール位置
			var scrollPosition = $(window).height() + $(window).scrollTop();
			//ページの一番下にスクロールしたら
			if ( (scrollHeight - scrollPosition) / scrollHeight <= 0) {
				//初期値は２ページ目取得、取得後コントローラで+1 or 最後のページの場合lastとされる。
				var page = $("#infiniteScrollingContainer").attr('data-page');
				if(page == "last" || ajaxStopper){return}
				ajaxStopper = true;
				$(".loader-container").removeClass("d-none")
				var url = "/chats/params[:id]/infiniteScrolling?page=" + page;
				//setTimeoutで0.5秒後に呼び出す
				setTimeout(function() {
			        $.ajax({
			        	//非同期的に指定したurlにpostやgetリクエストを行うことができる（デフォルトはget）
			        	url: url
			        }).always(function(){
			          ajaxStopper = false;
			        })
			    }, 500);
			}
		});
	})
</script>