<div class="col-4 difficuty-box">
	<h4>難易度</h4>
	<div class="difficult-box-value">
		<% if game.difficulty != nil %>
			<h4><%= game.difficulty.round(1) %> / 100</h4>
			<% if game.difficulty >= 80 %>
				<p>鬼畜！</p>
			<% elsif game.difficulty >= 70 %>
				<p>難しい</p>
			<% elsif game.difficulty >= 40 %>
				<p>普通</p>
			<% else %>
				<p>簡単</p>
			<% end %>
		<% else %>
			<h4>未評価</h4>
		<% end %>
	</div>
</div>

<div class="col-4 offset-1 rating-box">
	<h4>評価</h4>
	<div class="rating-box-value">
		<% if game.rating != nil %>
			<h4><%= game.rating.round(1) %> / 10</h4>
			<% if game.rating >= 8 %>
				<p>神ゲー！</p>
			<% elsif game.rating >= 6 %>
				<p>良ゲー</p>
			<% else %>
				<p>クソゲー</p>
			<% end %>
		<% else %>
			<h4>未評価</h4>
		<% end %>
	</div>
</div>