<div class="row">
	<h2>人気ゲーム</h2>
	<p>レートが高いやつが表示される</p>
</div>

<div class="row">
	<h2>新着ゲーム</h2>
	<p>最近投稿されたやつが表示される</p>
</div>

<div class="row">
	<h2>ゲーム一覧</h2>
	<% @games.each do |game| %>
		<%= link_to game_path(game) do %>
			<%= game.title %>
		<% end %>
	<% end %>
</div>
