<h1 class="text-center">Suave</h1>
<hr>
<P class="text-center">Suaveは<strong>ゲームプレイヤーとゲームクリエイター</strong>のためのWEBサイトです。<br>
	フリーゲームやインディゲーム、アナログゲーム等々、個人クリエイターや<br>
	小規模なクリエーター集団が製作したゲームの投稿やプレイを行えます。<br>
	<br>
	周りのゲームのクオリティが高くて自分の作ったゲームを投稿しづらいと思った事はありませんか？<br>
	Suaveでは簡単なゲームでも大歓迎です。例えばこのページの一番したにあるようなゲームでも。<br>
	ゲーム好きの心地よい場所をSuaveは目指しています。

<div id="container">
	<h2>ブロック崩し</h2>
	<canvas width="400px" height="400px" id="mycanvas">
		Canvasに対応したブラウザを用意してください。
	</canvas>
	<div id="btn">START</div>
</div>


