/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bxslider
 *= require_self
 */

 @import "bootstrap";
 @import "summernote-bs4";
 @import "tagsinput";

* {
	font-family: sans-serif;
}

 header {
	background-color: #0cf;
	height: 162px;
	width: 100%;
 }

 .navbar {
 	position: relative;
 	display: flex;
 	-webkit-box-align: center;
 	align-items: center;
 	padding: 0 1em;
 }

 .logo {
 	margin-left: 20px;
 }

 .header-user-name {
 	margin-top: 60px;
 	margin-right: 20px;
 }

 .blink {
  animation: blinkAnime 1s infinite alternate;
 }
 @keyframes blinkAnime{
    0% { color: #000 }
  100% { color: #ff0 }
 }

 .header-notifications-count {
 	position: absolute;
 	top: 70px;
 	right: 20px;
 	font-size: 18px;
 	background-color: #f99;
 	border-radius: 50%;
 }

 .notification-show {
 	position: absolute;
 	left: 80px;
 }

 .navbar > a {
 	color: #666;
 }

 .navbar > a:hover {
 	background-color: #cff;
 	border-radius: 10px;
 }

 .main-visual {
	width: 100%;
	height: 360px;
	background-position: center;
	background-size: cover;
 }

 .search {
 	position: absolute;
 	top: 10px;
 	right: 10px;
 }

 .container {
 	margin: 100px auto;
 }

 footer {
 	height: 100px;
 	background-color: #0cf;
 	padding: 0 20px;
 	border-top: 2px solid #666;

 	p {
 		font-size: 26px;
 		line-height: 100px;
 	}
 }

 .field {
 	margin-top: 40px;
 }

 .required {
 	color :red;
 }

 /*----------------------top & about*/
 .about-text {
	line-height: 2.5;
}

#container {
	text-align: center;
	margin: 100px auto;
}

#mycanvas {
	background: #AAEDFF;
}

#btn {
	margin: 3px auto;
	width: 200px;
	padding: 5px;
	background: #00AAFF;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}

#btn:hover {
	opacity: 0.8;
}

/*-----------------------notification*/
#notifications-cover {
	background: #000;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
}

#notifications-menu {
	z-index: 2;
	position: fixed;
	top: 162px;
	right: -40%;
	background: #f8f8ff;
	padding: 8px;
	box-sizing: border-box;
	width: 40%;
	min-height: 100%;
	transition: 0.4s;
}

#notifications-show, #notifications-hide {
	cursor: pointer;
	color: #000;
	font-size: 30px;
}

.notifications-menu-open #notifications-cover {
	display: block;
}

.notifications-menu-open #notifications-menu {
	right: 0;
}

/*---------------------------game-index*/
.wrap {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.game {
	width: 100%;
}

#game-menu {
	margin: 0;
	padding: 0;
}

#game-menu li {
  list-style-type: none;
  padding: 0;
}

#game-menu a {
  display: block;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

#game-menu .active {
  background: #0c0;
  color: #fff;
}

#game-contents {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

.game-box {
	font-size: 16px;
	color: #eee;
	background-color: #0c0;
	margin-top: 3px;
}

.game-box:hover {
	opacity: 0.8;
}

.game-box:first-child {
	margin-top: 0px;
}

/*-----------------------------game-show*/
.random-game {
	height: 100px;
	background-color: #fc0;
	color: white;
	text-align: center;
	line-height: 100px;
	border: 1px solid #fc9;
	border-radius: 20px;
	box-shadow: 0 0 20px #f60;
}

.game-author {
	margin-top:40px;
}

.rating-box {
	height: 100px;
	background-color: #9f9;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 15px rgba(0,0,0,0.8);
	margin-top: 40px;
}

.rating-box-value, .difficult-box-value {
	height: 57px;
	background-color: #fff;
}

.difficuty-box {
	height: 100px;
	background-color: #fcc;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 15px #000;
	margin-top: 40px;
}

.download {
	font-size: 16px;
	display: block;
	margin-top: 40px;
}

.game-tags {
	margin-top: 30px;
}

.game-sceenshots {
	margin-top: 40px;
}

.comment-field {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment-difficulty-box {
	background-color: #fcc;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
}

.comment-difficulty-value, .comment-rating-value {
	background-color: #fff;
	height: 30px;
}

.comment-rating-box {
	background-color: #9f9;
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
}

/*-----------------------------more-game*/
.more-game-box {
	height: 400px;
}

.more_game_title {
	display: block;
	border-bottom: 1px solid gray;
	width: 98%;
	margin-top: 20px;
	color: #666;
}

.more-game-tag {
	color: #666;
	display: block;
	border-bottom: 1px solid gray;
	width: 98%;
	margin-top: 20px;
}

/*----------------------------user-show*/
.user-introduction {
	height: 200px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #000;
	border-radius: 20px;
}

/*-----------------------------user-edit*/
.user-edit-box {
	margin-top: 60px;
}

/*------------------------------contact*/
.contact-content {
	width: 100%;
	border: 1px solid #666;
	border-radius: 10px;
	padding: 10px;
}



