// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-text {
	line-height: 2.5;
}

#container {
	text-align: center;
	margin: 100px auto;
}

#mycanvas {
	background: #AAEDFF;
}

#btn {
	margin: 3px auto;
	width: 200px;
	padding: 5px;
	background: #00AAFF;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}

#btn:hover {
	opacity: 0.8;
}
